.header {
  background: $not-black;
  color: $white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
  padding:1% 4%;
}

.header__logo {
  height: 40px;
  width: auto;
  margin-left: 1%;
}

.header__nav {
  flex-grow: 1;
  margin-right: 5%;
}

.header__topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
