.main {
    margin-top:6vh;
}

.main__imageTop {
    height:446px;
    background-image:url('./../assets/img/discord-player.png');
    background-attachment: fixed;
<<<<<<< HEAD
    background-position-x: 43%;
=======
    background-position: center;
>>>>>>> 22a1349b75ca21b93754c433a18ebe155c054d45
}