.menu {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100vw;
    background-color:#000;
    padding-left:0px;
    margin:0px;
    position:absolute;
    left:0;
    top:-100vh;;
    transition:.2s;
    opacity:0;
}

.header__input:checked ~ .menu {
    top:6vh;
    opacity:1;
    z-index:2;
}

.menu__ul {
    margin:0;
    padding:0;
    width:100%;
}

.menu__li {
    list-style: none;
    border-top: 1px solid $dark;
    text-align:center;
    font-weight:lighter;

    @media (min-width:$small) {
        border-top:none;
    }
}

.menu__a {
    display: block;
    height:100%;
    width:100%;
    padding: 10px 0;

    &:active {
        background-color:$white;
    }
}