.presentation__section {
    background: $dark;
    color: $white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction:column;
    padding:1% 5%;
    z-index: 5;
}

.presentation__section--separator {
    background-color: $blurple;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    font-size:32px;
}