.presentation__section {
    background: $dark;
    color: $white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction:column;
    padding:1% 5%;
    z-index: 5;
}

.presentation__section--separator {
    background-color: #7289da;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    height: 30vh;
    font-size: 4vw;
    text-align: center;
}