/**
 *  COULEURS
    bleu-violet : #7289DA
    blanc immaculé : #FFFFFF
    gris-violet : #99AAB5
    sombre, mais pas noir : #2C2F33
    pas noir mais presque : #23272A
    borders : #3F4246
 */
 $blurple: #7289da;
 $white: #FFFFFF;
 $greyple: #99AAB5;
 $dark: #2C2F33;
 $not-black: #23272A;