/**
 *  COULEURS
   $blurple: #7289DA;
   $white: #FFFFFF;
   $greyple: #99AAB5;
   $dark : #2C2F33;
   $notBlack: #23272A;
 */
<<<<<<< HEAD
 $blurple: #7289DA;
 $white: #FFFFFF;
 $greyple: #99AAB5;
 $dark : #2C2F33;
 $notBlack: #23272A;
=======
 $blurple: #7289da;
 $white: #FFFFFF;
 $greyple: #99AAB5;
 $dark: #2C2F33;
 $not-black: #23272A;
>>>>>>> 22a1349b75ca21b93754c433a18ebe155c054d45
