@mixin animation-keyframes($name, $duration, $timing) {
    @keyframes #{$name} {
        @content;
    }
    animation-duration: $duration;
    animation-name: $name;
    animation-iteration-count: $timing;
  }